* {
  box-sizing: border-box;
}

@media (max-width: 481px), (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .main-child1 {
    height: 60%;
    background-color: greenyellow;
  }

  .child {
    display: flex;
    height: 40%;
  }

  .main-child2 {
    width: 50%;
    background-color: green;
  }

  .main-child3 {
    width: 50%;
    background-color: yellow;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .main {
    display: flex;
    width: 100%;
    height: 100vh;
  }

  .main-child1 {
    width: 25%;
    background-color: green;
  }

  .child {
    display: flex;
    width: 75%;
  }

  .main-child2 {
    width: 65%;
    background-color: greenyellow;
  }

  .main-child3 {
    width: 35%;
    background-color: yellow;
  }
}

/* Media Query for Mobile Devices*/
@media (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .main-child1 {
    height: 50%;
    background-color: greenyellow;
  }

  .child {
    display: flex;
    flex-direction: column;
    height: 50%;
  }

  .main-child2 {
    height: 50%;
    width: 100%;
    background-color: green;
  }

  .main-child3 {
    height: 50%;
    width: 100%;
    background-color: yellow;
  }
}
