* {
  box-sizing: border-box;
}

/* Media Query for bigscreens, laptops, desktops, Tablets, Ipads and Tablets, Ipads potrait mode  */
@media (min-width: 481px),
  (max-width: 767px),
  (min-width: 768px),
  (max-width: 1024px),
  (min-width: 1025px),
  (max-width: 1280px) and (min-width: 1281px) {
  .main {
    display: flex;
    width: 100%;
    height: 100vh;
  }

  .main-child:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
  }

  .rows:nth-of-type(1) {
    height: 50%;
    background-color: red;
  }

  .rows:nth-of-type(2) {
    height: 50%;
    background-color: orange;
  }

  .main-child:nth-of-type(2) {
    width: 30%;
    height: 100vh;
    background-color: yellow;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .main-child:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 67%;
  }

  .rows:nth-of-type(1) {
    height: 50%;
    background-color: red;
  }

  .rows:nth-of-type(2) {
    height: 50%;
    background-color: orange;
  }

  .main-child:nth-of-type(2) {
    width: 100%;
    height: 33%;
    background-color: yellow;
  }
}
